{
    "openapi":  "3.0.0",
    "info":  {
                 "title":  "Assinafy API Reference",
                 "description":  "The **Assinafy API** is RESTful and gives access to documents, users, workspaces and signers, authenticated with an API key or an access token.\n\n## REST API\n\nHTTP verbs are used according to the request type:\n\n- `GET` to retrieve data;\n- `POST` to create;\n- `PUT` to update;\n- `DELETE` to remove.\n\n### Content type\n\nThe default request and response format is JSON.\n\n### Response envelope\n\nEvery response is wrapped as `{ status, message, data }`. `status` mirrors the HTTP status code (`200` means success); `data` holds the payload on success and is `null` on error.\n\n### Authentication\n\nMost endpoints require authentication. There are two options: a fixed **API key** (`X-Api-Key` header) or an **access token** (`Authorization: Bearer ...`). See the Authentication section for details.\n\n## Searching, paginating and sorting\n\nList endpoints accept these query parameters:\n\n| Parameter | Description |\n|-----------|-------------|\n| `search`  | Search term. |\n| `page`    | Page number. |\n| `per-page`| Records per page (max 100). |\n| `sort`    | Sort order, e.g. `name` or `-created_at`. |\n\nâ¦and return pagination metadata in response headers: `X-Pagination-Current-Page`, `X-Pagination-Total-Count`, `X-Pagination-Page-Count`, `X-Pagination-Per-Page`.\n\n## Test and production environments\n\nDuring development use the **sandbox**:\u003cbr/\u003eAPI: https://sandbox.assinafy.com.br/v1 Â· APP: https://app-sandbox.assinafy.com.br\n\nWhen ready, switch to **production**:\u003cbr/\u003eAPI: https://api.assinafy.com.br/v1 Â· APP: https://app.assinafy.com.br\n\n## Error codes\n\nThe error code is returned in the `status` attribute.\n\n| Code | Type |\n|------|------|\n| 400 | Bad Request |\n| 401 | Unauthorized |\n| 403 | Forbidden |\n| 404 | Not Found |\n| 415 | Unsupported Media Type |\n| 429 | Too Many Requests |\n| 500 | Internal Server Error |\n\n## Postman collection\n\nExplore the API with the [Assinafy Postman collection](https://www.postman.com/devassinafy/dev-assinafy-s-workspace/collection/tqqxlsd/assinafy-api-collection): open it, select the Assinafy Collection, then **fork** it into your own workspace.",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://api.assinafy.com.br",
                        "description":  "Production"
                    },
                    {
                        "url":  "https://sandbox.assinafy.com.br",
                        "description":  "Sandbox"
                    }
                ],
    "paths":  {
                  "/v1/accounts/{accountId}":  {
                                                   "get":  {
                                                               "tags":  [
                                                                            "Accounts"
                                                                        ],
                                                               "summary":  "Get account",
                                                               "description":  "Retrieve a workspace account the user belongs to.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                               "operationId":  "3afeb0e00a024f92298a557cf8475184",
                                                               "parameters":  [
                                                                                  {
                                                                                      "$ref":  "#/components/parameters/AccountId"
                                                                                  }
                                                                              ],
                                                               "responses":  {
                                                                                 "200":  {
                                                                                             "description":  "The account",
                                                                                             "content":  {
                                                                                                             "application/json":  {
                                                                                                                                      "schema":  {
                                                                                                                                                     "type":  "object",
                                                                                                                                                     "allOf":  [
                                                                                                                                                                   {
                                                                                                                                                                       "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                                   },
                                                                                                                                                                   {
                                                                                                                                                                       "properties":  "@{data=}",
                                                                                                                                                                       "type":  "object"
                                                                                                                                                                   }
                                                                                                                                                               ]
                                                                                                                                                 }
                                                                                                                                  }
                                                                                                         }
                                                                                         },
                                                                                 "404":  {
                                                                                             "$ref":  "#/components/responses/NotFound"
                                                                                         },
                                                                                 "401":  {
                                                                                             "$ref":  "#/components/responses/Unauthorized"
                                                                                         },
                                                                                 "500":  {
                                                                                             "$ref":  "#/components/responses/ServerError"
                                                                                         }
                                                                             },
                                                               "security":  [
                                                                                {
                                                                                    "bearerAuth":  [

                                                                                                   ]
                                                                                },
                                                                                {
                                                                                    "apiKeyAuth":  [

                                                                                                   ]
                                                                                }
                                                                            ]
                                                           },
                                                   "put":  {
                                                               "tags":  [
                                                                            "Accounts"
                                                                        ],
                                                               "summary":  "Update account",
                                                               "description":  "Update a workspace account\u0027s profile.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=put\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dput%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dput%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                               "operationId":  "65686705e7f9e91c3351341bbf7a1817",
                                                               "parameters":  [
                                                                                  {
                                                                                      "$ref":  "#/components/parameters/AccountId"
                                                                                  }
                                                                              ],
                                                               "requestBody":  {
                                                                                   "required":  true,
                                                                                   "content":  {
                                                                                                   "application/json":  {
                                                                                                                            "schema":  {
                                                                                                                                           "properties":  {
                                                                                                                                                              "name":  {
                                                                                                                                                                           "type":  "string",
                                                                                                                                                                           "example":  "Acme Inc."
                                                                                                                                                                       },
                                                                                                                                                              "notification_sender_type":  {
                                                                                                                                                                                               "description":  "Who signers see as the notification sender for documents in this account. `User` (default) shows the document owner\u0027s name; `Account` shows this account\u0027s name.",
                                                                                                                                                                                               "type":  "string",
                                                                                                                                                                                               "enum":  [
                                                                                                                                                                                                            "User",
                                                                                                                                                                                                            "Account"
                                                                                                                                                                                                        ],
                                                                                                                                                                                               "example":  "Account"
                                                                                                                                                                                           }
                                                                                                                                                          },
                                                                                                                                           "type":  "object"
                                                                                                                                       }
                                                                                                                        }
                                                                                               }
                                                                               },
                                                               "responses":  {
                                                                                 "200":  {
                                                                                             "description":  "The updated account",
                                                                                             "content":  {
                                                                                                             "application/json":  {
                                                                                                                                      "schema":  {
                                                                                                                                                     "type":  "object",
                                                                                                                                                     "allOf":  [
                                                                                                                                                                   {
                                                                                                                                                                       "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                                   },
                                                                                                                                                                   {
                                                                                                                                                                       "properties":  "@{data=}",
                                                                                                                                                                       "type":  "object"
                                                                                                                                                                   }
                                                                                                                                                               ]
                                                                                                                                                 }
                                                                                                                                  }
                                                                                                         }
                                                                                         },
                                                                                 "400":  {
                                                                                             "$ref":  "#/components/responses/ValidationError"
                                                                                         },
                                                                                 "401":  {
                                                                                             "$ref":  "#/components/responses/Unauthorized"
                                                                                         },
                                                                                 "500":  {
                                                                                             "$ref":  "#/components/responses/ServerError"
                                                                                         }
                                                                             },
                                                               "security":  [
                                                                                {
                                                                                    "bearerAuth":  [

                                                                                                   ]
                                                                                },
                                                                                {
                                                                                    "apiKeyAuth":  [

                                                                                                   ]
                                                                                }
                                                                            ]
                                                           },
                                                   "delete":  {
                                                                  "tags":  [
                                                                               "Accounts"
                                                                           ],
                                                                  "summary":  "Delete account",
                                                                  "description":  "Delete a workspace account.\n\nBy default the request fails with `400` when the workspace has an active paid subscription â the `restrictions` array in the response lists each blocker by code so you can address them individually before retrying. Pass `force: true` to cancel any active paid subscription automatically and proceed with immediate deletion.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=delete\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Ddelete%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Ddelete%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                  "operationId":  "1aa001f00400a7df2f7f5ddefc3f3321",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "$ref":  "#/components/parameters/AccountId"
                                                                                     }
                                                                                 ],
                                                                  "requestBody":  {
                                                                                      "content":  {
                                                                                                      "application/json":  {
                                                                                                                               "schema":  {
                                                                                                                                              "properties":  {
                                                                                                                                                                 "force":  {
                                                                                                                                                                               "description":  "When `true`, cancels any active paid subscription on this workspace and proceeds with deletion immediately. Defaults to `false`.",
                                                                                                                                                                               "type":  "boolean",
                                                                                                                                                                               "example":  false
                                                                                                                                                                           }
                                                                                                                                                             },
                                                                                                                                              "type":  "object"
                                                                                                                                          }
                                                                                                                           }
                                                                                                  }
                                                                                  },
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "Account deleted",
                                                                                                "content":  {
                                                                                                                "application/json":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "type":  "object",
                                                                                                                                                        "allOf":  [
                                                                                                                                                                      {
                                                                                                                                                                          "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                                      },
                                                                                                                                                                      {
                                                                                                                                                                          "properties":  "@{data=}",
                                                                                                                                                                          "type":  "object"
                                                                                                                                                                      }
                                                                                                                                                                  ]
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                            }
                                                                                            },
                                                                                    "400":  {
                                                                                                "$ref":  "#/components/responses/DeletionRestrictions"
                                                                                            },
                                                                                    "404":  {
                                                                                                "$ref":  "#/components/responses/NotFound"
                                                                                            },
                                                                                    "401":  {
                                                                                                "$ref":  "#/components/responses/Unauthorized"
                                                                                            },
                                                                                    "500":  {
                                                                                                "$ref":  "#/components/responses/ServerError"
                                                                                            }
                                                                                },
                                                                  "security":  [
                                                                                   {
                                                                                       "bearerAuth":  [

                                                                                                      ]
                                                                                   },
                                                                                   {
                                                                                       "apiKeyAuth":  [

                                                                                                      ]
                                                                                   }
                                                                               ]
                                                              }
                                               },
                  "/v1/accounts/{accountId}/theme":  {
                                                         "get":  {
                                                                     "tags":  [
                                                                                  "Accounts"
                                                                              ],
                                                                     "summary":  "Get account theme",
                                                                     "description":  "Retrieve account theme information (branding name, colors, and logo URL).\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D%2Ftheme) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Ftheme%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Ftheme%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                     "operationId":  "e769023db72349e5b478396ae92d12b2",
                                                                     "parameters":  [
                                                                                        {
                                                                                            "$ref":  "#/components/parameters/AccountId"
                                                                                        }
                                                                                    ],
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "The theme",
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "type":  "object",
                                                                                                                                                           "allOf":  [
                                                                                                                                                                         {
                                                                                                                                                                             "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                                         },
                                                                                                                                                                         {
                                                                                                                                                                             "properties":  "@{data=}",
                                                                                                                                                                             "type":  "object"
                                                                                                                                                                         }
                                                                                                                                                                     ]
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               }
                                                                                               },
                                                                                       "401":  {
                                                                                                   "$ref":  "#/components/responses/Unauthorized"
                                                                                               },
                                                                                       "500":  {
                                                                                                   "$ref":  "#/components/responses/ServerError"
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "bearerAuth":  [

                                                                                                         ]
                                                                                      },
                                                                                      {
                                                                                          "apiKeyAuth":  [

                                                                                                         ]
                                                                                      }
                                                                                  ]
                                                                 }
                                                     },
                  "/v1/accounts/{accountId}/logo":  {
                                                        "get":  {
                                                                    "tags":  [
                                                                                 "Accounts"
                                                                             ],
                                                                    "summary":  "Download account logo",
                                                                    "description":  "Download the account logo image binary.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D%2Flogo) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                    "operationId":  "216f1847ee6dbaa3fced4140fd2c2008",
                                                                    "parameters":  [
                                                                                       {
                                                                                           "$ref":  "#/components/parameters/AccountId"
                                                                                       }
                                                                                   ],
                                                                    "responses":  {
                                                                                      "200":  {
                                                                                                  "description":  "The logo image",
                                                                                                  "content":  {
                                                                                                                  "image/*":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "type":  "string",
                                                                                                                                                 "format":  "binary"
                                                                                                                                             }
                                                                                                                              }
                                                                                                              }
                                                                                              },
                                                                                      "404":  {
                                                                                                  "$ref":  "#/components/responses/NotFound"
                                                                                              },
                                                                                      "401":  {
                                                                                                  "$ref":  "#/components/responses/Unauthorized"
                                                                                              },
                                                                                      "500":  {
                                                                                                  "$ref":  "#/components/responses/ServerError"
                                                                                              }
                                                                                  },
                                                                    "security":  [
                                                                                     {
                                                                                         "bearerAuth":  [

                                                                                                        ]
                                                                                     },
                                                                                     {
                                                                                         "apiKeyAuth":  [

                                                                                                        ]
                                                                                     }
                                                                                 ]
                                                                },
                                                        "post":  {
                                                                     "tags":  [
                                                                                  "Accounts"
                                                                              ],
                                                                     "summary":  "Upload account logo",
                                                                     "description":  "Upload or replace the account logo image.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=post\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D%2Flogo) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                     "operationId":  "fbbd6967f8f20103e417fc1b0e4b7921",
                                                                     "parameters":  [
                                                                                        {
                                                                                            "$ref":  "#/components/parameters/AccountId"
                                                                                        }
                                                                                    ],
                                                                     "requestBody":  {
                                                                                         "required":  true,
                                                                                         "content":  {
                                                                                                         "multipart/form-data":  {
                                                                                                                                     "schema":  {
                                                                                                                                                    "required":  [
                                                                                                                                                                     "file"
                                                                                                                                                                 ],
                                                                                                                                                    "properties":  {
                                                                                                                                                                       "file":  {
                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                    "format":  "binary"
                                                                                                                                                                                }
                                                                                                                                                                   },
                                                                                                                                                    "type":  "object"
                                                                                                                                                }
                                                                                                                                 }
                                                                                                     }
                                                                                     },
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "Logo updated",
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               }
                                                                                               },
                                                                                       "400":  {
                                                                                                   "$ref":  "#/components/responses/ValidationError"
                                                                                               },
                                                                                       "401":  {
                                                                                                   "$ref":  "#/components/responses/Unauthorized"
                                                                                               },
                                                                                       "500":  {
                                                                                                   "$ref":  "#/components/responses/ServerError"
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "bearerAuth":  [

                                                                                                         ]
                                                                                      },
                                                                                      {
                                                                                          "apiKeyAuth":  [

                                                                                                         ]
                                                                                      }
                                                                                  ]
                                                                 },
                                                        "delete":  {
                                                                       "tags":  [
                                                                                    "Accounts"
                                                                                ],
                                                                       "summary":  "Delete account logo",
                                                                       "description":  "Remove the account logo image.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=delete\u0026path=%2Fv1%2Faccounts%2F%7BaccountId%7D%2Flogo) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Ddelete%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Ddelete%26path%3D%252Fv1%252Faccounts%252F%257BaccountId%257D%252Flogo%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                       "operationId":  "0c8bf70659a47f7fb54e96de93697593",
                                                                       "parameters":  [
                                                                                          {
                                                                                              "$ref":  "#/components/parameters/AccountId"
                                                                                          }
                                                                                      ],
                                                                       "responses":  {
                                                                                         "200":  {
                                                                                                     "description":  "Logo deleted",
                                                                                                     "content":  {
                                                                                                                     "application/json":  {
                                                                                                                                              "schema":  {
                                                                                                                                                             "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                         }
                                                                                                                                          }
                                                                                                                 }
                                                                                                 },
                                                                                         "401":  {
                                                                                                     "$ref":  "#/components/responses/Unauthorized"
                                                                                                 },
                                                                                         "500":  {
                                                                                                     "$ref":  "#/components/responses/ServerError"
                                                                                                 }
                                                                                     },
                                                                       "security":  [
                                                                                        {
                                                                                            "bearerAuth":  [

                                                                                                           ]
                                                                                        },
                                                                                        {
                                                                                            "apiKeyAuth":  [

                                                                                                           ]
                                                                                        }
                                                                                    ]
                                                                   }
                                                    },
                  "/v1/accounts":  {
                                       "get":  {
                                                   "tags":  [
                                                                "Accounts"
                                                            ],
                                                   "summary":  "List my accounts",
                                                   "description":  "List the workspace accounts the authenticated user belongs to.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Faccounts) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Faccounts%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                   "operationId":  "b66118db27c244ca018dd6cf1a9c7a8b",
                                                   "responses":  {
                                                                     "200":  {
                                                                                 "description":  "The user\u0027s accounts",
                                                                                 "content":  {
                                                                                                 "application/json":  {
                                                                                                                          "schema":  {
                                                                                                                                         "type":  "object",
                                                                                                                                         "allOf":  [
                                                                                                                                                       {
                                                                                                                                                           "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                       },
                                                                                                                                                       {
                                                                                                                                                           "properties":  "@{data=}",
                                                                                                                                                           "type":  "object"
                                                                                                                                                       }
                                                                                                                                                   ]
                                                                                                                                     }
                                                                                                                      }
                                                                                             }
                                                                             },
                                                                     "401":  {
                                                                                 "$ref":  "#/components/responses/Unauthorized"
                                                                             },
                                                                     "500":  {
                                                                                 "$ref":  "#/components/responses/ServerError"
                                                                             }
                                                                 },
                                                   "security":  [
                                                                    {
                                                                        "bearerAuth":  [

                                                                                       ]
                                                                    },
                                                                    {
                                                                        "apiKeyAuth":  [

                                                                                       ]
                                                                    }
                                                                ]
                                               },
                                       "post":  {
                                                    "tags":  [
                                                                 "Accounts"
                                                             ],
                                                    "summary":  "Create account",
                                                    "description":  "Create a new workspace account owned by the authenticated user.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=post\u0026path=%2Fv1%2Faccounts) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Faccounts%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Faccounts%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                    "operationId":  "9b06ac45b842750e3be5df47e491531b",
                                                    "requestBody":  {
                                                                        "required":  true,
                                                                        "content":  {
                                                                                        "application/json":  {
                                                                                                                 "schema":  {
                                                                                                                                "required":  [
                                                                                                                                                 "name"
                                                                                                                                             ],
                                                                                                                                "properties":  {
                                                                                                                                                   "name":  {
                                                                                                                                                                "type":  "string",
                                                                                                                                                                "example":  "Acme Inc."
                                                                                                                                                            },
                                                                                                                                                   "notification_sender_type":  {
                                                                                                                                                                                    "description":  "Who signers see as the notification sender for documents in this account. `User` (default) shows the document owner\u0027s name; `Account` shows this account\u0027s name.",
                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                    "enum":  [
                                                                                                                                                                                                 "User",
                                                                                                                                                                                                 "Account"
                                                                                                                                                                                             ],
                                                                                                                                                                                    "example":  "Account"
                                                                                                                                                                                }
                                                                                                                                               },
                                                                                                                                "type":  "object"
                                                                                                                            }
                                                                                                             }
                                                                                    }
                                                                    },
                                                    "responses":  {
                                                                      "200":  {
                                                                                  "description":  "The created account",
                                                                                  "content":  {
                                                                                                  "application/json":  {
                                                                                                                           "schema":  {
                                                                                                                                          "type":  "object",
                                                                                                                                          "allOf":  [
                                                                                                                                                        {
                                                                                                                                                            "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                        },
                                                                                                                                                        {
                                                                                                                                                            "properties":  "@{data=}",
                                                                                                                                                            "type":  "object"
                                                                                                                                                        }
                                                                                                                                                    ]
                                                                                                                                      }
                                                                                                                       }
                                                                                              }
                                                                              },
                                                                      "400":  {
                                                                                  "$ref":  "#/components/responses/ValidationError"
                                                                              },
                                                                      "401":  {
                                                                                  "$ref":  "#/components/responses/Unauthorized"
                                                                              },
                                                                      "500":  {
                                                                                  "$ref":  "#/components/responses/ServerError"
                                                                              }
                                                                  },
                                                    "security":  [
                                                                     {
                                                                         "bearerAuth":  [

                                                                                        ]
                                                                     },
                                                                     {
                                                                         "apiKeyAuth":  [

                                                                                        ]
                                                                     }
                                                                 ]
                                                }
                                   },
                  "/v1/documents/{documentId}/activities":  {
                                                                "get":  {
                                                                            "tags":  [
                                                                                         "Documents"
                                                                                     ],
                                                                            "summary":  "List document activities",
                                                                            "description":  "List the activities recorded for a document. Each entry carries an event-specific `payload` snapshot (keys vary per event) and the request `origin` (`ip`, `user-agent`).\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Fdocuments%2F%7BdocumentId%7D%2Factivities) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Fdocuments%252F%257BdocumentId%257D%252Factivities%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Fdocuments%252F%257BdocumentId%257D%252Factivities%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                            "operationId":  "737e469a367b00f097c6c4cf068d3b76",
                                                                            "parameters":  [
                                                                                               {
                                                                                                   "$ref":  "#/components/parameters/DocumentId"
                                                                                               }
                                                                                           ],
                                                                            "responses":  {
                                                                                              "200":  {
                                                                                                          "description":  "Document activities",
                                                                                                          "content":  {
                                                                                                                          "application/json":  {
                                                                                                                                                   "schema":  {
                                                                                                                                                                  "type":  "object",
                                                                                                                                                                  "allOf":  [
                                                                                                                                                                                {
                                                                                                                                                                                    "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                                                },
                                                                                                                                                                                {
                                                                                                                                                                                    "properties":  "@{data=}",
                                                                                                                                                                                    "type":  "object"
                                                                                                                                                                                }
                                                                                                                                                                            ]
                                                                                                                                                              }
                                                                                                                                               }
                                                                                                                      }
                                                                                                      },
                                                                                              "401":  {
                                                                                                          "$ref":  "#/components/responses/Unauthorized"
                                                                                                      },
                                                                                              "500":  {
                                                                                                          "$ref":  "#/components/responses/ServerError"
                                                                                                      }
                                                                                          },
                                                                            "security":  [
                                                                                             {
                                                                                                 "bearerAuth":  [

                                                                                                                ]
                                                                                             },
                                                                                             {
                                                                                                 "apiKeyAuth":  [

                                                                                                                ]
                                                                                             }
                                                                                         ]
                                                                        }
                                                            },
                  "/v1/assignments":  {
                                          "get":  {
                                                      "tags":  [
                                                                   "Assignments"
                                                               ],
                                                      "summary":  "List assignments",
                                                      "description":  "List the assignments belonging to the authenticated user\u0027s current account.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=get\u0026path=%2Fv1%2Fassignments) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Fassignments%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dget%26path%3D%252Fv1%252Fassignments%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                      "operationId":  "7138143459c5b2994b2f405b841cc513",
                                                      "parameters":  [
                                                                         {
                                                                             "$ref":  "#/components/parameters/Page"
                                                                         },
                                                                         {
                                                                             "$ref":  "#/components/parameters/PerPage"
                                                                         }
                                                                     ],
                                                      "responses":  {
                                                                        "200":  {
                                                                                    "description":  "A page of assignments",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "type":  "object",
                                                                                                                                            "allOf":  [
                                                                                                                                                          {
                                                                                                                                                              "$ref":  "#/components/schemas/Envelope"
                                                                                                                                                          },
                                                                                                                                                          {
                                                                                                                                                              "properties":  "@{data=}",
                                                                                                                                                              "type":  "object"
                                                                                                                                                          }
                                                                                                                                                      ]
                                                                                                                                        }
                                                                                                                         }
                                                                                                }
                                                                                },
                                                                        "401":  {
                                                                                    "$ref":  "#/components/responses/Unauthorized"
                                                                                },
                                                                        "500":  {
                                                                                    "$ref":  "#/components/responses/ServerError"
                                                                                }
                                                                    },
                                                      "security":  [
                                                                       {
                                                                           "bearerAuth":  [

                                                                                          ]
                                                                       },
                                                                       {
                                                                           "apiKeyAuth":  [

                                                                                          ]
                                                                       }
                                                                   ]
                                                  }
                                      },
                  "/v1/documents/{documentId}/assignments":  {
                                                                 "post":  {
                                                                              "tags":  [
                                                                                           "Assignments"
                                                                                       ],
                                                                              "summary":  "Create assignment (request signatures)",
                                                                              "description":  "Request signatures on a document. Use `method: virtual` to sign without input fields, or `method: collect` to place input fields on specific pages.\n\nFor **virtual**, the document may be in `uploaded`, `metadata_processing` or `metadata_ready`; it is promoted to `pending_signature` automatically once metadata processing completes. For **collect**, the document must be in `metadata_ready` (fields reference specific pages).\n\n`step` controls signing order: signers sharing a step sign in parallel, and the next step is notified only after the previous step completes. If supplied, every signer must supply it and values must be contiguous starting at 1.\n\n[Copy as Markdown](https://api.assinafy.com.br/v1/docs/markdown?method=post\u0026path=%2Fv1%2Fdocuments%2F%7BdocumentId%7D%2Fassignments) [Open in ChatGPT](https://chatgpt.com/?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Fdocuments%252F%257BdocumentId%257D%252Fassignments%20and%20help%20me%20integrate%20this%20endpoint.) [Open in Claude](https://claude.ai/new?q=Read%20the%20API%20documentation%20at%20https%3A%2F%2Fapi.assinafy.com.br%2Fv1%2Fdocs%2Fmarkdown%3Fmethod%3Dpost%26path%3D%252Fv1%252Fdocuments%252F%257BdocumentId%257D%252Fassignments%20and%20help%20me%20integrate%20this%20endpoint.)",
                                                                              "operationId":  "d1293d781c9d94ec8b8c43d540c99ef4",
                                                                              "parameters":  [
                                                                                                 {
                                                                                                     "$ref":  "#/components/parameters/DocumentId"
                                                                                                 }
                                                                                             ],
                                                                              "requestBody":  {
                                                                                                  "required":  true,
                                                                                                  "content":  {
                                                                                                                  "application/json":  {
                                                                                                                                           "schema":  {
                                                                                                                                                          "required":  [
                                                                                                                                                                           "method",
                                                                                                                                                                           "signers"
                                                                                                                                                                       ],
                                                                                                                                                          "properties":  {
                                                                                                                                                                             "method":  {
                                                                                                                                                                                            "type":  "string",
                                                                                                                                                                                            "enum":  [
                                                                                                                                                                                                         "virtual",
                                                                                                                                                                                                         "collect"
                                                                                                                                                                                                     ],
                                                                                                                                                                                            "example":  "virtual"
                                                                                                                                                                                        },
                                                                                                                                                                             "signers":  {
                                                                                                                                                                                             "type":  "array",
                                                                                                                                                                                             "items":  {
                                                                                                                                                                                                           "required":  "id",
                                                                                                                                                                                                           "properties":  "@{id=; verification_method=; notification_methods=; step=}",
                                                                                                                                                                                                           "type":  "object"
                                                                                                                                                                                                       }
                                                                                                                                                                                         },
                                                                                                                                                                             "entries":  {
                                                                                                                                                                                             "description":  "Required for `collect`: field placements per page.",
                                                                                                                                                                                             "type":  "array",
                                                                                                                                                                                             "items":  {
                                                                                                                                                                                                           "properties":  "@{page_id=; fields=}",
                                                                                                                                                                                                           "type":  "object"
                                                                                                                                                                                                       }
                                                                                                                                                                                         },
                                                                                                                                                                             "message":  {
                                                                                                                                                                                             "description":  "Text included in the invitation email.",
                                                                                                                                                                                             "type":  "string"
                                                                                                                                                                                         },
                                                                                                                                                                             "expires_at":  {
                                                                                                                                                                                                "description":  "ISO 8601; default is no expiration.",
                                                                                                                                                                                                "type":  "string",
                                                                                                                                                                                                "format":  "date-time"
                                                                                                                                                                                            },
                                                                                                                                                                             "copy_receivers":  {
                                                                                                                                                                                                    "description":  "Signer IDs that only receive a copy.",
                                                                                                                                                                                                    "type":  "array",
                                                                                                                                                                                                    "items":  {
                                                                                                                                                                                                                  "type":  "string"
                                                                                                                                                                                                              }
                                                                                                                                                                                                }
                                                                                                                                                                         },
                                                                                                                                                          "type":  "object"
                                                                                                                                                      },
                                                                                                                                           "examples":  {
                                                                                                                                                            "virtual_full":  {
                                                                                                                                                                                 "$ref":  "#/components/examples/AssignmentCreateVirtualFull"
                                                                                                                                                                             },
                                                                                                                                                            "collect_full":  {
                                                                                                                                                                                 "$ref":  "#/components/examples/AssignmentCreateCollectFull"
                                                                                                                                                                             },
                                                                                                                                                            "virtual":  {
                                                                                                                                                                            "$ref":  "#/components/examples/AssignmentCreateVirtual"
                                                                                                                                                                        },
                                                                                                                                                            "collect":  {
                                                                                                                                                                            "$ref":  "#/components/examples/AssignmentCreateCollect"
[...]
