CREATE TABLE IF NOT EXISTS public.financial_expenses (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    date date NOT NULL,
    due_date date,
    modality text NOT NULL CHECK (modality IN ('Evento', 'Steakhouse', 'Goatbotequim', 'Geral')),
    category text NOT NULL CHECK (category IN ('Fornecedor', 'Equipe', 'Insumos', 'Operacional', 'Outros')),
    description text NOT NULL,
    amount numeric(15,2) NOT NULL DEFAULT 0,
    responsible text NOT NULL,
    payment_method text NOT NULL CHECK (payment_method IN ('PIX', 'Dinheiro', 'Cartão', 'Transferência', 'Outros')),
    status text NOT NULL DEFAULT 'Pendente' CHECK (status IN ('Pago', 'Pendente')),
    classification text NOT NULL DEFAULT 'Direto' CHECK (classification IN ('Direto', 'Indireto')),
    supplier_name text,
    staff_name text,
    staff_role text,
    invoice_url text,
    receipt_url text,
    created_at timestamptz DEFAULT now(),
    updated_at timestamptz DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.financial_expenses ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Enable
read
for
all\ ON public.financial_expenses FOR SELECT USING (true);
CREATE POLICY \Enable
insert
for
all\ ON public.financial_expenses FOR INSERT WITH CHECK (true);
CREATE POLICY \Enable
update
for
all\ ON public.financial_expenses FOR UPDATE USING (true);
CREATE POLICY \Enable
delete
for
all\ ON public.financial_expenses FOR DELETE USING (true);

-- Storage bucket for receipts
INSERT INTO storage.buckets (id, name, public) VALUES ('financial_attachments', 'financial_attachments', true) ON CONFLICT (id) DO NOTHING;
CREATE POLICY \Public
Access\ ON storage.objects FOR SELECT USING (bucket_id = 'financial_attachments');
CREATE POLICY \Public
Upload\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'financial_attachments');

